name: 'Build'

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Test build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: |
          cd /home/runner/work/lovelace-hourly-weather/lovelace-hourly-weather
          npm ci
          npm run build
      - name: Run tests
        uses: cypress-io/github-action@v4
        with:
          record: true
          start: npm run test:server
          wait-on: 'http://localhost:8000'
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TZ: America/Los_Angeles # https://github.com/cypress-io/cypress/issues/1043
      - name: HACS Action
        uses: "hacs/action@main"
        with:
          category: "plugin"
