name: 'Translate strings'

on:
  push:
    branches-ignore:
      - main

jobs:
  translate:
    name: translate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install localization package
        run: npm install -g i18n-auto-translation

      - name: Translate files
        id: translate
        uses: msnyder-msft/i18n-auto-translation-action@v1.0.0
        with:
            provider: 'google-official'
            subscriptionKey: '${{ secrets.TRANSLATOR_SUBSCRIPTION_KEY }}'
            filePath: './src/localize/languages/en.json'
            from: 'en'
            to: 'da,de,es,fr,hu,it,nb,nl,pl,pt,ru,sk,zh'
            debug: false

      - name: Copy new strings to sub-locales
        uses: ./.github/actions/copy-to-sub-locales
        with:
          mappings: pt=>pt-BR,nb=>nn-NO

      - name: Get current branch name
        id: branch_name
        run: echo ::set-output name=current_branch::${GITHUB_REF#refs/*/}

      - name: Commit changes
        uses: devops-infra/action-commit-push@v0.9.2
        continue-on-error: true
        with:
            github_token: '${{ secrets.GITHUB_TOKEN }}'
            commit_prefix: '[Auto] '
            commit_message: 'Adding updated localization files'
            force: false
            target_branch: ${{steps.vars.branch_name.current_branch}}
