name: 'Translate strings'

on:
  pull_request:
    branches:
      - main

jobs:
  translate:
    name: translate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install localization package
        run: npm install -g i18n-auto-translation #-msnyder

      - name: Translate files
        id: translate
        uses: msnyder-msft/i18n-auto-translation-action@v1.0.0
        with:
            provider: 'google-official'
            subscriptionKey: '${{ secrets.TRANSLATOR_SUBSCRIPTION_KEY }}'
            filePath: './src/localize/languages/en.json'
            from: 'en'
            to: 'de,es,fr,nb,pl,pt'
            debug: false

      - name: Commit changes
        uses: devops-infra/action-commit-push@v0.9.0
        continue-on-error: true
        with:
            github_token: '${{ secrets.GITHUB_TOKEN }}'
            commit_prefix: '[Auto] '
            commit_message: 'Adding updated localization files'
            force: false
            target_branch: ${{GITHUB_HEAD_REF}}
